html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0;
}

body {
    margin-bottom: 60px;
}

.question-image {
    height: 150px;
}

.max-mark-input {
    margin-top: 5px;
}

.answers {
    margin-top: 20px;
}

.correct-answer {
    background-color: lightgreen;
}

.my-footer {
    background-color: #6684b4;
    color: azure;
    display: flex;
}

.my-social-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .my-social-contacts div {
        display: flex;
        align-items: center;
    }

        .my-social-contacts div a {
            margin-top: -25px;
            margin-left: 30px;
        }

            .my-social-contacts div a img {
                width: 25px;
            }

.all-tests {
    display: flex;
    flex-wrap: wrap;
}

    .all-tests a {
        background-color: lightgray;
        margin-left: 25px;
        margin-top: 25px;
        text-decoration: none;
        color: black;
        padding:5px;
        border-radius: 15px;
        transition: background .4s ease;
    }

        .all-tests a:hover {
            background-color: gray;
            transition: background .4s ease;
        }
