@model List<GliglockTest.appCore.Test>

    <h1>Tests</h1>
    <div>
        @foreach(var test in Model)
        {
            <a asp-action="CertainTest" asp-route-testId="@test.Id">
                @test.Name
            </a>
        }
    </div>

