@model List<GliglockTest.appCore.PassedTest>

<h1>Passed tests</h1>
<div>
    @if(Model == null || Model.Count < 1)
    {
        <div>You have not passed any test yet...</div>
    }
    @foreach (var test in Model)
    {
        <div>
            @test.Test.Name
            <br />
            @test.Mark/@test.Test.MaxMark
        </div>
    }
</div>
